@model List<Movie>
@{
    ViewData["Title"] = "Index";
}

<div class=" mt-4">
    <a class="btn btn-dark" asp-controller="Movie" asp-action="Create">Create</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col"> Image</th>
            <th scope="col">Background Image</th>
            <th scope="col"> Length</th>
            <th scope="col"> Age</th>
            <th scope="col"> Language</th>
            <th scope="col"> Rotten Tomatoes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Movie movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Name</td>

                <td>
                    <img class="w-100" style="height:130px;" src="~/assets/img/Releases/@movie.Image" />
                </td>
                <td>
                    <img class="w-100" style="height:130px;" src="~/assets/img/Releases/DetailBack/@movie.BackImage" />
                </td>
                <td>@movie.Length</td>
                <td>@movie.Age</td>
                <td>@movie.Language</td>
                <td>@movie.RottenTomatoes</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <div>
                            <a class="mx-2" style="color:red; font-size:25px;" asp-controller="Movie" asp-action="Detail" asp-route-Id="@movie.Id"><i class="fa-solid fa-circle-info"></i></a>
                        </div>

                        <div>
                            <a style="color:red; font-size:25px;" asp-controller="Movie" asp-action="Edit" asp-route-Id="@movie.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>

                        <div class="mx-2">
                            <a style="color:red; font-size:25px;" asp-controller="Movie" asp-action="Delete" asp-route-Id="@movie.Id"><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    </div>

                </td>
            </tr>
        }

    </tbody>
</table>




