@using Vudu.com_Back_End.View_models
@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="mainTop col-lg-12">
        <img src="assets/img/MainTop.png" alt="">
    </div>
    <section id="slider">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators  ">
                <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner ">
                @{
                    var i = 0;
                    @foreach (Slider slider in Model.Sliders)
                    {
                        var sliderClass = i++ ==0 ? "slider active" : "slider";
                        <div class="carousel-item @sliderClass">
                            <a href=""><img class="d-block w-100" src="assets/img/Slider/@slider.Image" alt="First slide"></a>
                        </div>
                    }
                }
                }
                }


            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span style="font-size:45px;" class="carousel-control fa-solid fa-angle-left"
                      aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span style="font-size:45px;" class="carousel-control fa-solid fa-angle-right"
                      aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>
    <section id="Trailer">
        <div id="myTrailer" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeTrailer()">&times;</a>
            <div class="overlay-content">
                <iframe style="width: 100%; display: block;" src="https://www.youtube.com/embed/AJktDS4dV18"
                        title="YouTube video player" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

    </section>

    @foreach (var item in Model.IndexOptions)
    {
        <section id="releases">
            <div class="container">
                <div class="row">
                    <div class="title d-flex justify-content-between w-100">
                        <div class="subTitle">
                            <a href=""> @Model.IndexOptions.FirstOrDefault(s=>s.Id==@item.Id).Name</a>
                        </div>
                        <div class="all">
                            <a href="">View All</a>
                        </div>
                    </div>
                    @foreach (MovieIndexOption movie in Model.MovieIndexOptions.FindAll(s => s.IndexOptionId==item.Id))
                    {
                        <div class="col-lg-2 cardReleases">
                            <div class="img">
                                <a href=""><img class="w-100" src="assets/img/Releases/@movie.Movie.Image" alt=""></a>
                            </div>
                            <div class="description">
                                <a href="">
                                    <h6 class="p-2">@movie.Movie.Name</h6>
                                    <span> May 27 PG-13 @movie.Movie.Length</span>
                                    <div class="pl-2 check">
                                        <i class="fa-regular fa-circle-check"></i><span>@movie.Movie.Age</span>
                                    </div>

                                    <div class="icon d-flex">
                                        <div class="star d-flex pt-2">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        </div>
                                        <div class="faiz">
                                            <span>@movie.Movie.RottenTomatoes %</span>
                                        </div>
                                    </div>
                                    <div class=" plus">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                    <div class="buttonTr">
                                        <a href="#" onclick="openTrailer()"><button>Trailer</button></a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <hr>
        @foreach (Advertising advr in Model.Advertisings.Where(s=>s.Id==item.Id))
        {
            <div class="advertising">
                <div class="container">
                    <img class="w-100" src="assets/img/Releases/@advr.Image" alt="">
                </div>
            </div>
        }
    }

    <section id="releases">
        <div class="container">
            <div class="row">
                <div class="title d-flex justify-content-between w-100">
                    <div class="subTitle">
                        <a href=""> Browse All Free Titles</a>
                    </div>
                    <div class="all">
                        <a href="">View All</a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Browse/1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Browse/2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Browse/3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Browse/4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Browse/5.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Browse/6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section id="releases">
        <div class="container">
            <div class="row">
                <div class="title d-flex justify-content-between w-100">
                    <div class="subTitle">
                        <a href=""> More Deals to Explore</a>
                    </div>
                    <div class="all">
                        <a href="">View All</a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Releases/13-1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Releases/13-2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Releases/13-3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Releases/13-4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Releases/13-5.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 cardReleases">
                    <div class="img">
                        <a href=""><img class="w-100" src="assets/img/Releases/13-6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
</main>





