@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="header">
        <div class="row w-100">

            <div class="container">
                <div style="color:white;" class="title  text-center mt-5">
                    @if (ViewBag.Id!=null)
                    {
                        <h4>@Model.SubOptionSubTitles.FirstOrDefault(s=>s.Id==ViewBag.Id).Title (@Model.Movies.Count)</h4>

                    }
                    else
                    {
                        <h4></h4>
                    }
                </div>
                <div class="title d-flex justify-content-between mt-5">

                    <div class="sub d-flex ">
                        <button class="btn border-rounded titleBtn" id="filterBtn">
                            Filters <i class="fa-solid fa-sort-down ml-2"></i>
                        </button>

                        </a>
                    </div>

                    <div class="responsiveMenubar">
                        <i class="fa-solid fa-bars" id="respMenu"></i>
                    </div>
                </div>
            </div>
            @foreach (Filter filter in Model.Filters)
            {
                <div class="respMenuFilters ml-5">
                    <div class="container">
                        <div class="filters mt-3  ">
                            <div class="title ">
                                <h6 class="">@filter.Name:</h6>
                            </div>
                            <div class="genre d-flex ">
                                <div class="firstGenre mt-2">
                                    <ul>
                                        @foreach (Genre item in Model.Genres)
                                        {
                                            <li><a asp-action="Index" asp-route-genre="@item.Id"><input type="radio"> @item.Name</a></li>
                                        }

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="filters mt-3 ">
                        <div class="title ">
                            <h6 class="">Year:</h6>
                        </div>
                        <div class="genre d-flex ">
                            <div class="firstGenre mt-2">
                                <ul>
                                    @foreach (Year item in Model.Years)
                                    {
                                        <li><a asp-action="Index" asp-route-tom="@item.Id"><input type="radio"> @item.Name</a></li>

                                    }

                                </ul>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="filters mt-3 ">
                        <div class="title ">
                            <h6 class="">Tomatometer:</h6>
                        </div>
                        <div class="genre d-flex ">
                            <div class="firstGenre mt-2">
                                <ul>
                                    @foreach (Tomatometer item in Model.Tomatometers)
                                    {
                                        <li><a asp-action="Index" asp-route-tom="@item.Id"><input type="radio">@item.Title %</a></li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                    <hr>


                    <div class="filters mt-3 ">
                        <div class="title ">
                            <h6 class="">MPAA Rating:</h6>
                        </div>
                        <div class="genre d-flex ">
                            <div class="firstGenre mt-2">
                                <ul>
                                    @foreach (Rating item in Model.Ratings)
                                    {
                                        <li><a asp-action="Index" asp-route-rating="@item.Id"><input type="radio">@item.Name</a></li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="filters mt-3 ">
                        <div class="title ">
                            <h6 class="">Studio:</h6>
                        </div>
                        <div class="genre d-flex ">
                            <div class="firstGenre mt-2">
                                <ul>
                                    @foreach (Studio item in Model.Studios)
                                    {
                                        <li><a asp-action="Index" asp-route-studio="@item.Id"><input type="radio">@item.Name</a></li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
        @foreach (Filter filter in Model.Filters)
        {
            <div class="filterAll w-100">
                <div class="row w-100">
                    <div class="filters mt-3 col-lg-2">
                        <div class="title ">
                            <h6 class="">@filter.Name:</h6>
                        </div>
                        <div class="genre row  d-flex">

                            @foreach (Genre item in Model.Genres)
                            {
                                <div class="firstGenre col-lg-6">

                                    <ul>
                                        <li><a asp-action="Index" asp-route-genre="@item.Id">@item.Name</a></li>
                                    </ul>
                                </div>

                            }

                        </div>
                    </div>
                    <div class="filters mt-3 col-lg-2 ml-4">
                        <div class="title ">
                            <h6 class="">@Model.Filters.FirstOrDefault(s=>s.Id==2).Name:</h6>
                        </div>
                        <div class="genre d-flex">
                            <div class="firstGenre mt-2">

                                <ul>

                                    @foreach (Year item in Model.Years)
                                    {
                                        <li><a asp-action="Index" asp-route-year="@item.Id">@item.Name</a></li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="filters mt-3 col-lg-2">
                        <div class="title ">
                            <h6 class="">@Model.Filters.FirstOrDefault(s=>s.Id==3).Name::</h6>
                        </div>
                        <div class="genre ">
                            <div class="firstGenre mt-2">

                                <ul>

                                    @foreach (Tomatometer item in Model.Tomatometers)
                                    {
                                        <li><a asp-action="Index" asp-route-tom="@item.Id"> >@item.Title % fresh</a></li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="filters col-lg-2">
                        <div class="genre ">

                            <div class="title mt-2 ">
                                <h6 class="">@Model.Filters.FirstOrDefault(s=>s.Id==7).Name::</h6>
                            </div>
                            <div class="genre d-flex">
                                <div class="firstGenre mt-2">
                                    <ul>
                                        @foreach (Rating item in Model.Ratings)
                                        {
                                            <li><a asp-action="Index" asp-route-rating="@item.Id">@item.Name</a></li>
                                        }
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="filters mt-3 col-lg-2">
                        <div class="title ">
                            <h6 class="">@Model.Filters.FirstOrDefault(s=>s.Id==5).Name::</h6>
                        </div>
                        <div class="genre">
                            <div class="firstGenre mt-2">

                                <ul>
                                    @foreach (Studio item in Model.Studios)
                                    {
                                        <li><a asp-action="Index" asp-route-studio="@item.Id">@item.Name</a></li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="clear ml-4">
                    <a href="">Clear all filters</a>
                </div>
            </div>
        }
    </section>
    <section id="UhdMain">
        <div class="mt-4 container ">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                     aria-labelledby="pills-home-tab">
                    <div id="all-movies">
                        <div class="container">
                            <div class="row w-100">

                                @foreach (Movie movie in Model.Movies)
                                {
                                    <div class="col-lg-2 cardReleases">

                                        <a asp-controller="Detail" asp-action="Index" asp-route-id="@movie.Id"><img class=" img-fluid" src="assets/img/Releases/@movie.Image" alt=""></a>


                                        <div class="description p-1">
                                            <a asp-controller="Detail" asp-action="Index" asp-route-id="@movie.Id">
                                                <h6 class="p-2" style="font-size:12px; text-align:center">@movie.Name</h6>
                                                <span>
                                                    @foreach (Year yr in Model.Years.Where(s => s.Id==movie.YearId))
                                                    {
                                                        @yr.Name
                                                    } :
                                                    @foreach (Rating rt in Model.Ratings.Where(s => s.Id==movie.RatingId))
                                                    {
                                                        @rt.Name
                                                    }
                                                    <span>Time : @movie.Length</span>

                                                </span>

                                                <div class="pl-2 check">
                                                    <i class="fa-regular fa-circle-check"></i><span>@movie.Age</span>
                                                </div>

                                                <div class="icon d-flex">
                                                    <div class="star d-flex pt-2">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star-half-stroke"></i>
                                                    </div>
                                                    <div class="faiz">
                                                        <span>@movie.RottenTomatoes %</span>
                                                    </div>
                                                </div>
                                                <div class="plus d-flex">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <a asp-controller="basket" asp-action="BasketAdd" asp-route-id="@movie.Id"><i title="Add To Wishlist" class="fa-solid fa-circle-plus"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Account" title="Add To Wishlist" asp-action="Login"><i class="fa-solid fa-circle-plus"></i></a>
                                                    }
                                                    <style>
                                                        .trailer {
                                                            width: 16px;
                                                            height: 16px;
                                                            margin-left: 10px;
                                                            border: 1px solid gray;
                                                            border-radius: 50%;
                                                            font-size: 10px;
                                                            text-align: center;
                                                            margin-top: 3.7px;
                                                        }

                                                    </style>

                                                    <a class="trailer" asp-controller="Trailer" title="Trailer" asp-action="Index" asp-route-Id="@movie.Id">T</a>
                                                </div>

                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>